# pandas & numpy
__Author:__ Mahdi Firouz

__Course:__ Numerical Analysis

In [1]:
# import libraries
import pandas as pd
import numpy as np

##### NumPy Tasks:
(a) Load the temperatures.csv file into a Numpy array. What is the shape of the array?

In [2]:
# Load the CSV file using pandas
df = pd.read_csv('tempratures.csv')

# Convert the pandas DataFrame to a NumPy array
data = df.values

# Print the shape of the array
print("temperatures.csv shape:", data.shape)

temperatures.csv shape: (51, 3)

(b) Calculate the average temperature for each city. What is the average temperature for each city
in the dataset?

In [3]:
# Calculate the mean temperature for each city
avg_temperatures = df.groupby('city')['temperature'].mean()

# Print the average temperature for each city
print(avg_temperatures)

city
Los Angeles    20.529412
Miami          22.617647
New York        0.158824
Name: temperature, dtype: float64

(c) Calculate the maximum temperature for each city. What is the maximum temperature for
each city in the dataset?

In [4]:
# Calculate the max temperature for each city
max_temperatures = df.groupby('city')['temperature'].max()

# Print the max temperature for each city
print(max_temperatures)

city
Los Angeles    24.4
Miami          25.8
New York        5.8
Name: temperature, dtype: float64

##### Pandas Tasks :
(a) Load the temperatures.csv file into a Pandas DataFrame. What is the shape of the DataFrame?

In [5]:
# Print the shape of the DataFrame
print(df.shape)

(51, 3)

b) Calculate the median temperature for each city. What is the median temperature for each city
in the dataset?

In [6]:
# Calculate the median temperature for each city
median_temperatures = df.groupby('city')['temperature'].median()

# Print the median temperature for each city
print(median_temperatures)

city
Los Angeles    20.5
Miami          22.6
New York        0.5
Name: temperature, dtype: float64

(c) Calculate the daily temperature range for each city. What is the difference between the maximum and minimum temperature for each city in the dataset?

In [7]:
# Calculate the temperature range for each city
temp_range = df.groupby('city')['temperature'].apply(lambda x: x.max() - x.min())

# Print the temperature range for each city
print(temp_range)

city
Los Angeles     8.5
Miami           6.1
New York       13.1
Name: temperature, dtype: float64

##### Bonus Task :
Merge the temperatures.csv file with a second CSV file called cities.csv which contains information about the cities. The two files can be merged on the common column city. Once merged, create
a new column in the resulting DataFrame which indicates whether the temperature was above or
below the average temperature for that city

In [19]:
# Load the cities.csv file into a pandas DataFrame
df_cities = pd.read_csv('cities.csv')

# Merge the two DataFrames on the common column city
df_merged = pd.merge(df, df_cities, on='city')

# drop the latitude and longitude columns before we didnt need these
df_merged = df_merged.drop(["latitude", "longitude"], axis=1)

# Create a new column indicating whether the temperature was above or below the average temperature for that city
df_merged['above_avg_temp'] = df_merged['temperature'] > df_merged['city'].map(avg_temperatures)

# Print the merged DataFrame with the new column
print(df_merged)

          date      city  temperature country  above_avg_temp
0   2022-01-01  New York          0.5     USA            True
1   2022-01-02  New York          2.3     USA            True
2   2022-01-03  New York          4.8     USA            True
3   2022-01-04  New York          3.2     USA            True
4   2022-01-05  New York         -1.9     USA           False
5   2022-01-06  New York         -2.1     USA           False
6   2022-01-07  New York          1.3     USA            True
7   2022-01-08  New York          4.2     USA            True
8   2022-01-09  New York          5.8     USA            True
9   2022-01-10  New York         -1.1     USA           False
10  2022-01-11  New York         -4.6     USA           False
11  2022-01-12  New York         -7.3     USA           False
12  2022-01-13  New York         -2.4     USA           False
13  2022-01-14  New York          1.5     USA            True
14  2022-01-15  New York          2.1     USA            True
15  2022-01-16  New York         -0.9     USA           False
16  2022-01-17  New York         -2.7     USA           False
17  2022-01-01     Miami         24.7     USA            True
18  2022-01-02     Miami         22.9     USA            True
19  2022-01-03     Miami         21.2     USA           False
20  2022-01-04     Miami         23.5     USA            True
21  2022-01-05     Miami         20.1     USA           False
22  2022-01-06     Miami         25.3     USA            True
23  2022-01-07     Miami         21.8     USA           False
24  2022-01-08     Miami         22.4     USA           False
25  2022-01-09     Miami         20.5     USA           False
26  2022-01-10     Miami         23.1     USA            True
27  2022-01-11     Miami         25.8     USA            True
28  2022-01-12     Miami         22.6     USA           False
29  2022-01-13     Miami         19.7     USA           False
30  2022-01-14     Miami         20.2     USA           False
31  2022-01-15     Miami         21.5     USA           False
32  2022-01-16     Miami         23.9     USA            True
33  2022-01-17     Miami         25.3     USA            True